<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Website url:</strong>
  <%= @user.website_url %>
</p>

<p>
  <strong>Short url:</strong>
  <%= @user.short_url %>
</p>

<p>
  <strong>Content:</strong>
  <%= @user.content %>
</p>

<% @user.friends.each_with_index do |user, index| %>
<p>
  <strong>Friend <%= index + 1 %></strong>
  <%= link_to "#{user.name}", user %>
</p>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
